<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!-- python manage.py runserver -->
    <h1>Welcome to My Django Website</h1>
    <h1>Button to Trigger Server Action</h1>
    
    <!-- Form with a button that sends a POST request -->
    <form method="POST" action="{% url 'button_action' %}">
        {% csrf_token %}
        <button type="submit">Click Me</button>
    </form>     
</body>
</html>