<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scale Tool</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    <div class="container">
        <div class="box2">
            <div class="header">key: {{key}}</div>
            <div class="header">scale: {{scale}}</div>
        </div>
        <div class="box">
            <div class="matrix">
                {% for row in matrix %}
                <div class="row">
                    {% for cell in row %}
                        <div class="{% if forloop.first %} cell_first {% elif forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 10 or forloop.counter == 13 %} cell_fret_mark {% else %} cell {% endif %}">
                            {% if cell.step == 1 %}
                                <div class="circle">{{ cell.step }} </div> 
                            {% elif cell.step == 0 %}
                                <div></div> 
                            {% else %}
                                <div>{{ cell.step }} </div> 
                            {% endif %}                            
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="box2">
            <div class="row">            
                <div class="cell_fret">0</div>
                <div class="cell_fret">1</div>
                <div class="cell_fret">2</div>
                <div class="cell_fret">3</div>
                <div class="cell_fret">4</div>
                <div class="cell_fret">5</div>
                <div class="cell_fret">6</div>
                <div class="cell_fret">7</div>
                <div class="cell_fret">8</div>
                <div class="cell_fret">9</div>
                <div class="cell_fret">10</div>
                <div class="cell_fret">11</div>
                <div class="cell_fret">12</div>
            </div>
        </div>
        
        <div class="box3"> <!-- python manage.py runserver  <div class="cell">{{ cell }}</div> -->            
                <!-- Form with a button that sends a POST request -->
                <form method="POST" action="{% url 'button_action' %}">
                    {% csrf_token %}
                    <div>
                        <label for="key" style="color:white">Key:</label>\
                        <select name="key" id="key">
                            <option value="-1"></option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                        </select>
                    </div>
                    <div>
                        <label for="scale" style="color:white">Scale:</label>
                        <select name="scale" id="scale">
                            <option value="-1"></option>
                            <option value="mayor">Mayor</option>
                            <option value="minor">Minor</option>
                            <option value="mixolydian">mixolydian</option>                       
                            <option value="locrian">Locrian</option>
                            <option value="octatonic">Octatonic</option>
                            <option value="dark_3">dark_3</option>
                            <option value="dark_4">dark_4</option>
                            <option value="dark_5">dark_5</option>
                        </select>
                    </div>
                    <div>
                        <label for="tool" style="color:white">Tool:</label>
                        <select name="instrument" id="instrument">
                            <option value="-1"></option>
                            <option value="bass4">Bass 4</option>
                            <option value="bass5">Bass 5</option>
                            <option value="guitar">Guitar</option>
                        </select>
                    </div>
                    <button type="submit">Update</button>
                </form>
        </div>
    </div>

</body>

</html>